@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

.main {
  display: flex;
  min-height: 100vh;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 46px 0;
  min-height: 0;
  flex-basis: 0;
  flex-grow: 1;
  gap: 25px;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 6px;
  width: 100%;
  color: #fff;
}

.listItem:is(:hover, :focus, :active) {
  background-color: #424242;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  min-width: 250px;
  max-width: 400px;
  background-color: #091928;
  color: #ffff;
}

.sidebarTitle {
  padding-left: 10px;
}

.sidebarTitle svg {
  margin-right: 10px;
}

.listItem svg {
  margin-right: 7px;
}

.sidebar div {
  display: flex;
}

.sidebarTitle {
  margin-bottom: 45px;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 80px;
  box-shadow: 2px 1px 5px #cdcdcd;
  overflow: hidden;
  top: 0;
  background-color: #ffff;
}

.home {
  display: flex;
  align-items: center;
  overflow: auto;
  flex-grow: 1;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  gap: 15px;
  overflow-y: auto;
}

.listItemContainer {
  flex-direction: column;
  gap: 6px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 59px;
  border: 1px solid #ababab;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.filterOpen {
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  min-width: 59px;
  width: fit-content;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.filterCount {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}

.filterContainer {
  display: flex;
  align-items: center;
  padding-left: 200px;
}

.filterContainer a {
  color: #d7d7d7;
}

.vl {
  border-left: 1px solid #d7d7d7;
  height: 28px;
  margin: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 114px;
  color: #000000;
  padding: 32px 30px;
  flex-grow: 1;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.detail {
  color: #ababab;
  font-size: 14px;
  font-weight: 500;
  margin-top: 14px;
}

.card div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.card svg {
  margin-right: 10px;
}

.chipBlue {
  margin-left: 10px;
  justify-content: center;
  background-color: #dfefff;
  color: #3399ff;
  width: 94px;
  height: 21px;
  border-radius: 30px;
  font-size: 12px;
}

.chipGreen {
  margin-left: 10px;
  justify-content: center;
  background-color: #dcffe6;
  color: #19b444;
  width: 135px;
  height: 21px;
  border-radius: 30px;
  font-size: 12px;
}

.filterControl {
  width: 320px;
  height: 286px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 6px;
  padding: 1px;
  position: absolute;
  background-color: #fff;
  margin-top: 10px;
}

.filterControl hr {
  border-top: 0.5px solid #eaeaea;
}

.filterControlHeader {
  display: flex;
  align-items: center;
  height: 60px;
  color: #424242;
  padding: 24px;
}

.filterModal {
  padding-left: 200px;
  /* margin-bottom: 10px; */
}

.clearButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #d7d7d7;
  font-family: Inter;
  font-weight: 600;
  margin-right: 60px;
}

.clearButtonOn {
  color: #3399ff;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  margin-right: 60px;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 99px;
}

.filterDetails {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  color: #424242;
  font-size: 16px;
  font-weight: 600;
}

.friendStatus {
  margin: 25px 0;
  font-size: 14px;
  color: #686868;
  font-weight: 500;
}

.filterDetails input[type="checkbox"] {
  outline: none;
  content: none;
  width: 19px;
  height: 19px;
  border: 1.5px solid pink;
  cursor: pointer;
}

.filterDetails label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.applyButton {
  justify-content: center;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
  background-color: #424242;
  border-radius: 6px;
  width: 300px;
  height: 45px;
  margin-left: 9px;
  cursor: pointer;
}

.applyContainer {
  padding-bottom: 16px;
  position: absolute;
  bottom: 0;
}

.loading {
  display: flex;
  height: 114px;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  padding: 36px 30px;
  flex-grow: 1;
}

.loadingLeft {
  flex-direction: column;
}

.loadingRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.loadingLT {
  width: 295px;
  height: 18px;
  background: linear-gradient(
    90deg,
    #eaeaea 26.47%,
    rgba(234, 234, 234, 0.25) 100%
  );
  border-radius: 27px;
  margin-bottom: 10px;
  animation: animate 3s infinite;
}

.loadingLB {
  width: 340px;
  height: 14px;
  background: linear-gradient(
    90deg,
    #eaeaea 26.47%,
    rgba(234, 234, 234, 0.25) 100%
  );
  border-radius: 27px;
  animation: animate 3s infinite;
}

.loadingRT {
  width: 118px;
  height: 17px;
  background: linear-gradient(
    270deg,
    #eaeaea 26.47%,
    rgba(234, 234, 234, 0.25) 100%
  );
  border-radius: 27px;
  margin-bottom: 10px;
  animation: animate 3s infinite;
}

.loadingRB {
  width: 84px;
  height: 12px;
  background: linear-gradient(
    270deg,
    #eaeaea 26.47%,
    rgba(234, 234, 234, 0.25) 100%
  );
  border-radius: 27px;
  animation: animate 3s infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    display: flex;
    justify-content: flex-end;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  } */


/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
/* } */