@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

.main {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 30px; */
  min-height: 100vh;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
  position: relative;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.listItem:is(:hover, :focus, :active) {
  background-color: #424242;
  border-radius: 5px;
  width: 220px;
  height: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: 250px;
  max-width: 400px;
  background-color: #091928;
  color: #ffff;
}

.sidebar svg {
  margin-right: 10px;
}

.listItem svg {
  margin-right: 7px;
}

.sidebar div {
  display: flex;
}

.sidebarTitle {
  margin-bottom: 45px;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 80px;
  box-shadow: 0 0 5px #cdcdcd;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cardContainer {
  display: flex;
  justify-content: center;
  padding: 100px 200px;
}

.listItemContainer {
  flex-direction: column;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 59px;
  border: 1px solid #ababab;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}

.filterContainer {
  display: flex;
  align-items: center;
}

.filterContainer a {
  color: #d7d7d7;
}

.vl {
  border-left: 1px solid #d7d7d7;
  height: 28px;
  margin: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 25px;
  /* max-width: calc(100% - 250px); */
  /* max-width: 250px; */
  flex-grow: 1;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.detail {
  color: #ababab;
  font-size: 14px;
  font-weight: 500;
  margin-top: 18px;
}

.card div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.card svg {
  margin-right: 10px;
}

.chipBlue {
  margin-left: 10px;
  justify-content: center;
  background-color: #DFEFFF;
  color: #3399FF;
  width: 94px;
  height: 21px;
  border-radius: 30px;
  font-size: 12px;
}

.chipGreen {
  margin-left: 10px;
  justify-content: center;
  background-color: #DCFFE6;
  color: #19B444;
  width: 135px;
  height: 21px;
  border-radius: 30px;
  font-size: 12px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  /* .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  } */
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
